h1{
  color:#4378A7;
  margin: 10px
}

h2{
  margin: 5px
}

p {
  color:#CFDBDC;
  margin: 5px
}

div {
  text-align: left;
  position: absolute;
  left: 300px
}

a{
  text-decoration: none;
  color: #4FB0DE;
}

a:hover {
  text-decoration: underline;
}
